
body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.navigation {
    display: inline;
}

#banner {
    background-image: url("../images/Blue-Banner-Background-HD.png");
    height: 600px;
    width: 1200px;
    padding: 30px 20px;
    margin: 60px auto;
    border-radius: 15px;
    z-index: 0;
}

div.content h1 {
    color: white;
    font-size: 80px;
    margin: 75px 800px;
    
}